:root{
    --primary-color: #5E81AC ;
    --secondary-color:#88C0D0;
    --font-color: #2e3440;
    --bg-color:#ECEFF4;
    --heading-color:#5E81AC ;
}



body {
  background-color: var(--secondary-color);
  color: var(--font-color);
  display: flex;
  font-family: monospace;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  min-height: 100vh;
  
}

header {
  margin: 10px 0 20px;
  text-align: center;
  font-size: 42px;
}

.container {
  height: auto;
  width: auto;
  font-size: 20px;
} 
.pasword-container {
  background-color: var(--bg-color);
  color: #2e3440;
  text-align: center;
  align-self: center;
  letter-spacing: 1px;
  display: flex;
  font-size: 30px;
  letter-spacing: 1px;
  justify-content: center;
  text-align: center;
  align-self: center;
  min-height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  word-break: break-all;
  border-radius: 0.5EM;
}



.option {
  margin-bottom: 5%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox] {
  float: right;
  margin-right: 0;
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #d5d5d5;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
}

.btn {
  background-color: #bf616a;
  color: #fff;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  height: 15%;
  padding: 0.5EM;
  border: 1px #000;
  border-radius: 0.5EM;
}

.btn:hover {
  background-color: #81ac5e;
}

input[type=checkbox]:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight:900;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  display: none;
}

input[type=checkbox]:hover {
  background-color: #a5a5a5
}

input[type=checkbox]:checked {
  background-color: #81ac5e
}

input[type=checkbox]:checked:after {
  display: block
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.range-slider {
  min-width: 200px;
  height: 20px;
  margin-right: 35px;
  border-radius: 10px;
  box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(black, 0.5);

}

input[type=number] {
  -moz-appearance: textfield;
    appearance: textfield;
    float: right;
    margin-right: 0;
    width: 30px;

}